doctype html
html
    head
        title Hello world!

        script.
            var require = {
                config: {
                    'main': {
                        context: JSON.parse('!{_context}') || {}
                    }
                }
            };
        script(data-main='/main', src='/require')
    body
        != _view.body