div
    a(href='/', data-ajax='{}') index

    p
        span a-
        span= number
    p!= _view.date

    ul
        li
            a(href='/b/1', data-ajax='{"autoload":30}') b-1
        li
            a(href='/b/2', data-ajax='{"autoload":45}') b-2
        li
            a(href='/b/3', data-ajax='{"autoload":60}') b-3