div
    p
        span b-
        span= number
    p!= _view.date

    ul
        li
            a(href='/c/1', data-ajax='{"autoload":3}') c-1
        li
            a(href='/c/2', data-ajax='{"autoload":10}') c-2