p
    a(class='ajax', href='/form') form
p
    a(class='ajax', href='/a/1') a-1 (ajax link - reload the body of the page asynchronously)
p
    a(href='/a/2') a-2 (standard link - reload the page)
p
    a(class='ajax-autoload', href='/a/3') a-3 (autoload ajax link - load the content of the link automatically)