p
    a(href='/form', data-ajax='{}') form
p
    a(href='/a/1', data-ajax='{}') a-1 (ajax link - reload the body of the page asynchronously)
p
    a(href='/a/2') a-2 (standard link - reload the page)
p
    a(href='/a/3', data-ajax='{"autoload":0}') a-3 (autoload ajax link - load the content of the link automatically)