a(href='/hello', data-ajax='{"autoload":0}')
    p Processing...
    p(style='color:grey;font-size:90%;font-style:italic;') Should display "Hello World!" if everything is ok.
a(href='/world', data-ajax='{"autoload":0}')