doctype html
html
    head
        title Ajax App
        script.
            var require = {
                config: {
                    'main': {
                        context: JSON.parse('!{_context}') || {}
                    }
                }
            };
        script(data-main='/main', src='/require')
    body
        p= '--- page-id: ' + random + ' ---'

        div(id='ajax-body')!= _view.body