h1(id='hello') Welcome to the awesome chat!

div(id='chat')

div(id='message')
    form()
        label(for='message') Enter your message here:
        input(name='message', type='text')
        input(type='submit')