a(class='ajax-autoload', href='/hello')
    p Processing...
    p(style='color:grey;font-size:90%;font-style:italic;') Should display "Hello World!" if everything is ok.
a(class='ajax-autoload', href='/world')